<div class="container mt-5 mb-5">

    <h1 class="text-center">About</h1>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil laudantium delectus blanditiis perspiciatis, perferendis, rem eveniet nisi, id totam saepe hic neque. Dolores minima earum quidem doloribus quia nam pariatur!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. In dolorem suscipit atque explicabo provident quae exercitationem molestiae tenetur similique veritatis? Suscipit reprehenderit molestiae explicabo esse ipsam consequatur iure, quis ipsa.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus, eum? Iste ea quis ipsam cupiditate illo velit numquam in illum minima consectetur reiciendis omnis maiores, eos laboriosam maxime commodi excepturi!
        <br/>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia dolores dolor laboriosam assumenda, nesciunt corrupti quisquam facere suscipit! Animi quod quam quibusdam nihil sint nisi eligendi, molestiae ratione eum veniam.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid a quod laudantium magnam molestiae facilis provident velit ab magni. Dolorum asperiores suscipit perspiciatis nisi commodi magnam impedit quaerat quod nobis.
        <br/>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi cum, laudantium maiores cumque quos officia molestias enim dolorum nesciunt id quo voluptatum porro aut beatae eaque, blanditiis culpa, labore reiciendis.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia consectetur asperiores impedit necessitatibus aut esse, voluptates illo in harum sequi ex iste corporis temporibus animi error? Error dolorem reprehenderit consectetur.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis omnis aperiam molestiae sequi temporibus iusto dignissimos dolorem magni, impedit ipsam quibusdam natus nesciunt enim nemo beatae. Eveniet architecto nulla magni!
        <br/>
    </p>
</div>